<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.timeout.com/images/105288907/image.jpg);">
  <div class="container">
    <h1>What's gonna be your drink ?</h1>
    <p>You can see all the cocktails below or just create a new one!</p>

    <%= link_to "Create a cocktail", new_cocktail_path , class: "btn btn-flat nav-link" %>
  </div>
</div>
