<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))">
  <div class="container">
    <h1>Tokyo cocktails.</h1></br>
    <h3>The best cocktails in Meguro</h3></br>
  </div>
</div>
<div class="container mt-4">
  <!-- list of cocktails -->
  <h2 id="cocktail-list">Your cocktail of choice?</h2>
</div>
