.btn-flat {
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.nav-link {
    color: white;
  padding: 8px 16px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}
